html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #222;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #222;
    color: #fff;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

hr.style-two {
	margin-top: 5px;
	margin-bottom: 11px;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255, 255, 255, 0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(255, 255, 255, 0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(255, 255, 255, 0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(255, 255, 255, 0.75), rgba(0,0,0,0));
}

table {
  border-collapse: collapse;
  text-align: left;
  text-align: center;
}
th {
  font-weight: normal;
  padding: 0px 10px 8px;
  color: #9E9E9E;
}
td {
  padding: 9px 8px;
  border: 1px solid #434B59;
}

.avatarimage{
    padding-top:7px;
    padding-bottom:7px;
}

}
.cover {
  background-size: cover;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.bankbbas{
  position: absolute;
  top: 56%;
  left: 40%;
  font-family: sans-serif;
  font-size: 25px;
  padding: 2px 2px;
  border-radius: 5px;
  color: #4E5B67;
  width: 105px;
}

.under_circle {
  font-family: sans-serif;
  font-size: 25px;
  padding: 2px 2px;
  border-radius: 5px;
  color: #4E5B67;
  text-align: center;
  float: none;
    margin: 0 auto;
}
@media (max-width: 500px) { 
    .round-items-image{
        display: none;
    }
    .history_user_steamavatar{
        display: none;
    }
}
.notify-corner {
  position: fixed;
  margin: 20px;
  z-index: 1050;
}

.notify-corner .notify-wrapper,
.notify-corner .notify-container {
  position: relative;
  display: block;
  height: inherit;
  width: 395px;
  margin: 3px;
}

.notify-wrapper {
  z-index: 1;
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
}

.notify-container {
  display: none;
  z-index: 1;
  position: absolute;
}

.notify-hidable {
  cursor: pointer;
}

[data-notify-text],[data-notify-html] {
  position: relative;
}

.notify-arrow {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
}

.roulet {
    height: 150px !important; 
    background: #EEEEEE;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}
.weaponline {
    position: absolute; 
    margin-left: 500px; 
    width:10px; 
    height: 150px !important; 
    background:#C52485;
}
.weaponbox {
    width: 125px;
    margin: 5px;
    display:inline-block;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 1);
    box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 1);
}
.weaponheader {
    height: 125px; 
    background: #3d3d3d; /* Old browsers */
    background: -moz-linear-gradient(top,  #3d3d3d 0%, #b3b3b3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#b3b3b3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3d3d3d 0%,#b3b3b3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3d3d3d 0%,#b3b3b3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3d3d3d 0%,#b3b3b3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3d3d3d 0%,#b3b3b3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#b3b3b3',GradientType=0 ); /* IE6-9 */

}
.rank{
  list-style-type: none;
}
.history{
  list-style-type: none;
}
.some_info ul{
  list-style-type: none;
}
.history li h3 {
  text-align: center;
}
.won_items{
  margin-top: 12px;
}
